* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    width: 100%;
    height: 100vh;
    font-family: "Questrial", sans-serif;
}

header {
    height: 97px;
    width: 100%;
    padding-inline: 30px;
    border: 1px solid #ECEDED;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    position: fixed;
    top: 0;

    .searchArea,
    .dateArea {
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .searchArea {

        a span:nth-child(1) {
            color: #3d8493;
            font-size: 45px;
            font-weight: 700;
        }

        a span:nth-child(2) {
            color: #d89f65;
            font-size: 45px;
            font-weight: 700;
        }

        a span:nth-child(3) {
            color: #4a5c2f;
            font-size: 45px;
            font-weight: 700;
        }

        textarea {
            all: unset;
            width: 357px;
            background: #ECF3F5;
            border-radius: 6px;
            font-size: 15px;
            color: #89928E;
            padding-top: 16px;
            padding-left: 20px;
            transition: 0.5s;
        }

        textarea:hover {
            box-shadow: 2px 2px 2px #b1ced4;
        }

    }

    .dateArea {
        justify-content: flex-end;


        .dataInfo {
            display: flex;
            align-items: baseline;
            gap: 4px;

            p {
                font-size: 15px;
                transition: 0.5s;
            }

            p:hover {
                font-size: 20px;
                font-weight: 800;
                color: #b1ced4;
            }
        }

        button {
            width: 175px;
            height: 58px;
            background: #b1ced4;
            border: none;
            border-radius: 10px;
            font-size: 16px;
            color: #2C3832;
            cursor: pointer;
            transition: 0.5s;

        }

        button:hover {
            background: #2C3832;
            color: #b1ced4;
        }

    }

}


main {
    margin-top: 97px;
    height: 690px;
    width: 100%;
    padding: 40px 0 40px 140px;

    section {
        width: 900px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .card {
            width: 203px;
            height: 214px;
            background: #d8e6e9;
            border-radius: 10px;
            overflow: hidden;
            transition: 0.5s;

            img {
                width: 100%;
                height: 143px;
                object-fit: cover;
                cursor: pointer;
            }

            .additionalInfo {
                width: 100%;
                height: 71px;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 10px;
                gap: 10px;

                span {
                    font-size: 17px;
                }

                .spices {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-inline: 10px;

                    p {
                        font-size: 12px;
                    }

                    .chill {
                        display: flex;
                        gap: 10px;

                        span {
                            width: 16px;
                            height: 16px;
                            font-size: 14px;
                            color: #ffffff;
                            background: #a2774c;
                            border-radius: 50%;
                            padding-left: 3px;
                            padding-top: 1px;
                        }

                        img {
                            width: 20px;
                            height: 17px;
                        }
                    }
                }
            }
        }
    }

    .card:active {
        transform: translateY(6px);
        box-shadow: 0 5px 10px #3d8493;
    }

}

footer {
    width: 100%;
    height: 106px;
    position: fixed;
    bottom: 0;
    background: #EAF0F0;

    ul {
        width: 100%;
        height: 100%;
        display: flex;
        padding-left: 140px;
        align-items: center;
        gap: 80px;

        li {
            width: 158px;
            height: 58px;
            background: #D9D9D9;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            transition: 0.5s;
            cursor: pointer;

            a {
                color: #A9A9A9;
            }


        }

        li:hover {
            transform: translateY(6px);
            box-shadow: 0 5px 10px #3d8493;
        }

        .starter {
            background: #4a5c2f;

            >a {
                color: #ecf3f5;
            }
        }

        .starter:hover{
            box-shadow: 0 5px 10px #011802;
        }

    }
}